/*Base styles*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /*easier calculating size*/
}

:root { /*custom properties*/ 
    --body-font-size: 1.8rem;
    --body-font-color: #5f5f5f;
    --body-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'Playfair Display', 'sans-serif';
    --light-color: #f4f4f4;
    --dark-color: #262626;
    --light-gray-color: #f2f3f7;
    --red-color: #ec5453;
    --blue-color: #2c98f0;
    --yellow-color: #f9bf3f;
    --purple-color: #a84cb8;
    --dark-blue-color: #4054b2;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font-family);
    color: var(--body-font-color);
    font-size: var(--body-font-size);
}


a{
    display: block;
    text-decoration: none;
}

/* Navigtion style */
.hambuger-menu{
    display: none;
}

.nav{
    user-select: none;
    -webkit-user-drag: none;
    width: 26rem;
    height: 100vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.intro{
    user-select: none;
    -webkit-user-drag: none;
    font-family: var(--heading-font-family);
    text-align: center;
    margin: 5rem 0;
    line-height: 1.5;
}

.intro-heading{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.intro-subhead{
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-list{
    list-style: none;
}

.nav-item{
    position: relative;
}

.nav-item::before{
    content:"";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform, .5s cubic-bezier(.83,0, 0.17, 1);
}

.nav-item:hover::before{
    transform: scaleX(1);
}

.nav-item:not(:last-child){
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.nav-link{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-color);
    padding: 1rem;
}

.social-media-wrapper{
    margin-top: auto;
    margin-bottom: 3rem;
    text-align: center; 
}

.social-media-wrapper span{
    display: block;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
}

.sm-link{
    font-size: 3.6rem;
    color: var(--light-color);
    transition: color .3s;
    transform: .5s;
    padding: 0.5rem;
}

.sm-link:hover{
    color: #999;
    transform: translateY(-3px);
}

.copy-right-notice{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: rgba(255, 255, 255, .5);
}

/* Main style */
.main{
    width: calc(100% - 26rem); /* we calculated our free space  */
    transform: translateX(26rem);
}

section:not(.logo){
    padding: 5rem 0;
}

.logo{
    user-select: none;
    -webkit-user-drag: none;
    height: 100vh;
    background: url(./images/hero_background1.gif) bottom center/cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 90%;
    max-height: 90%;
    top: 5rem;
    user-select: none;
    -webkit-user-drag: none;
    margin: auto;
    position: relative;
}

.scroll-down{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
    z-index: 5;
}

.mouse{
    height: 5rem;
    width: 2.5rem;
    border: 2px solid var(--red-color);
    border-radius: 2rem;
    display: flex;
}

.mouse span{
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--red-color);
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span{
    display: block;
    border-right: 2px solid var(--red-color);
    border-bottom: 2px solid var(--red-color);
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    animation: arrow-down 1s linear infinite;
}

@keyframes move-wheel {
    0%{
        opacity: 1;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 0;
        transform: translateY(2rem);
    }
}

@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;

    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

/* About styles */
.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.heading-group{
    color: var(--dark-color);
    margin-bottom: 5rem;
}

.section-head-small{
    display: block;
    font-size: 2rem;
    color: #999;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.section-head-large{
    font-size: 3rem;
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.intro-description p:not(:last-child){
    margin-bottom: 2rem;
}

.intro-description p span{
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: var(--dark-color);
    letter-spacing: 1px;
}

.call-to-action{
    background-color: rgba(97, 171, 208, .9);
    margin-top: 5rem;
    padding: 3rem;
    color: var(--dark-color);
}

.call-to-action p{
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn{
    font-size: 1.4rem;;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 3rem;
    display: inline-block;
    transition: background-color .5s;
}

.cta-btn{
    border: 1px solid var(--dark-color);
}

.cta-btn:hover{
    background-color: var(--dark-color);
    color: white;
}

/* My expertise */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

.my-expertise .grid-item{
    background-color: #fff;
    box-shadow: 0 .5rem 5rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-bottom: 3px solid transparent;
    position: relative;
    text-align: center;
}

.grid-item.yellow{
    border-bottom-color: var(--yellow-color);
}

.grid-item.red{
    border-bottom-color: var(--red-color);
}

.grid-item.blue{
    border-bottom-color: var(--blue-color);
}

.yellow i{
    color: var(--yellow-color);
}

.red i{
    color: var(--red-color);
}

.blue i{
    color: var(--blue-color);
}

.item-icon{
    display: block;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.item-heading{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.margin-top{
    margin-top: 5rem;
}

.item-skill{
    width: calc(100% + 1rem);
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: -1rem;
    display: flex;
}

.item-skill::before{
    content: "";
    position: absolute;
    top: -1rem;
    left: -.99rem;
    border: 1rem solid transparent;
    z-index: -1;
}

.yellow .item-skill{
    background-color: var(--yellow-color);

}

.yellow .item-skill::before{
   border-right-color: var(--yellow-color);
}

.red .item-skill{
    background-color: var(--red-color);
}

.red .item-skill::before{
    border-right-color: var(--red-color);
 }

.blue .item-skill{
    background-color: var(--blue-color);
}

.blue .item-skill::before{
    border-right-color: var(--blue-color);
 }

 .skill-name{
     text-transform: uppercase;
     color: var(--light-color);
     font-size: 2rem;
     font-weight: 400;
     letter-spacing: 1px;
     margin: auto;
 }

 .skill-description{
     padding: 3rem;
     margin-top: 5rem;
     line-height: 2;
 }

/* motto styles */
.motto{
    height: 35vh;
    background: url(./images/test.jpg) bottom/cover;
    position: relative;
    z-index: 1;
}

.motto::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.motto .container{
    height: 100%;
    display: flex;
}

.quote-wrapper{
    margin: auto;
    max-width: 50rem;
    text-align: center;
    color: var(--light-color);
}

.quote{
    font-size: 2rem;
    font-weight: 300;
    padding: .5rem;
    position: relative;
}

.quote::before, .quote::after{
    position: absolute;
    font-size: 15rem;
    width: 5rem;
    height: 5rem;
    font-family: sans-serif;
}

.quote::before{
    content: open-quote;
    top: -5rem;
    left: -6rem;
}

.quote::after{
    content: close-quote;
    bottom: -5rem;
    right: -6rem;
}

.quote-by{
    display: block;
    text-align: right;
    margin-top: 2rem;
}

/* My protfolio */
.my-portfolio .grid{
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}
.my-portfolio .grid-item{
    min-height: 35rem;
    position: relative;
    overflow: hidden;
}


.portfolio-item-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
}

.portfolio-item-info{
    height: 100%;
    width: 100%;;
    background-color: rgba(44, 152, 240, 0.8);
    color: var(--light-color);
    position: absolute;
    top:0;
    left: 0;
    padding: 2rem;
    text-transform: uppercase;
    display: flex;
    opacity: 0;
    flex-direction: column;
    transition: opacity .5s;
}

.portfolio-item-info:hover{
    opacity: 1;
}

.project-name{
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: .7rem;
    transform: translateY(-2rem);
    transition: transform .5s;
}

.project-name span{
    font-weight: 300;
    opacity: .5;
}

.project-type{
    font-size: 1.5rem;
    opacity: .5;
    transform: translateY(2rem);
    transition: transform .5s;
}

.portfolio-item-info:hover .project-name,
.portfolio-item-info:hover .project-type{
    transform: translateY(0);
}

.info-cta{
    margin-top: auto;
}

.info-btn{
    color: var(--light-gray-color);
    border: 1px solid var(--light-color);
}

.info-btn:hover{
    color: var(--light-color);
    background-color: var(--dark-color);
}

 .btn-blue{
    background-color: var(--blue-color);
    color: var(--light-color);
}

/* .load-more .btn{
    margin-top: 2.5rem;
    padding: 1rem 5rem;
} */ 

/* Contact Styles */
.contact-info-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.contact-info{
    flex-basis: 45%;
}

.contact-info-item{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.info-item-icon{
    background-color: var(--light-gray-color);
    display: flex;
    width: 10rem;
    font-size: 5rem;
    color: var(--blue-color);
    border-radius: 3px;
}

.info-item-icon i{
    margin: auto;
}

.data-wrapper{
    margin-left: 2rem;
}

.info-item-data{
    display: block;
    line-height: 1.5;
}

.contact-form{
    flex: 1;
}

.contact-form .input,
.contact-form .select,
.contact-form textarea{
    width: 100%;
    background-color: var(--light-gray-color);
    font-family: var(--body-font-family);
    color: var(--body-font-color);
    font-size: 1.4rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 1rem;
}


.contact-form .btn{
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 1030px){
    .nav{
        transform: translateX(-27rem);
        transition: transform .5s;
    }

    .is-open .nav{
        transform: translateX(0);
    }

    .hambuger-menu{
        display: flex;
        width: 5rem;
        height: 5rem;
        background-color: var(--dark-color);
        color: var(--light-color);
        position: fixed;
        top:0;
        left:0;
        font-size: 2.6rem;
        cursor: pointer;
        transition: transform .5s;
        z-index: 3000;
        
    }

    .hambuger-menu i{
        margin: auto;
    }

    .close{
        display: none;
    }

    .is-open .hambuger-menu{
        transform: translateX(21rem);
    }

    .is-open .close{
        display: block;
    }

    .is-open .open{
        display: none;
    }

    .main{
        width: 100%;
        transform: initial;
    }

    .logo{
        height: 80vh;
    }

    .logo::after{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0, .8);
        z-index: 999;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }

    .is-open .logo:after{
        opacity: 1;
        transform: scale(1);
    }

    .portfolio-item-info{
        background-color: rgba(0, 0, 0, .5);
        opacity: 1;
    }

    .project-name{
        transform: translateY(0);
    }

    .project-type{
        transform: translateY(0);
    }

    .info-btn:first-child{
        margin-bottom: 1rem;
    }
}

/*tablet*/
@media screen and (max-width: 768px){ 
    .grid,
    .my-portfolio .grid{
        grid-template-columns: repeat(auto-fit, minmax(25re, 1fr));
    }

    .quote::before{
        top: -7rem;
        left: -3rem;
    }

    .quote::after{
        bottom: 0rem;
        right: -3rem;
    }
}

/* phone */
@media screen and (max-width: 530px){ 
    .logo{
        height: 50rem;
    }

    .motto{
        height: 60vh;
    }

    .my-portfolio .grid{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .quote::before,
    .quote::after{
        font-size: 10rem;
    }

    .quote::before{
        top: -4rem;
        left: -3rem;
    }

    .quote::after{
        bottom: -3rem;
        right: -3rem;
    }

    .quote-by{
        margin-top: 4rem;
    }
}

@media screen and (orientation: landscape) and (max-width: 1030px) {
    .nav{
        overflow-y: scroll;
    }

    .logo{
        height: initial;
        min-height: 100vh;
    }
}

/* screen bigger than 1920x1080 */
@media screen and (min-width: 1925px){
    html{
        font-size: 75%;
    }
}



/* contact form css */

.contact {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.contact .container {
    background-color: #fefefe;
    margin: 85%, auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close_btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_btn:hover,
  .close_btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


    
